/* LoginPage.css */
.image-side {
    background-image: url('https://wallpapercat.com/w/full/9/5/a/945731-3840x2160-desktop-4k-matte-black-wallpaper-image.jpg');
    background-size: cover;
    background-position: center;
  }
  